<footer id="footer">
    <p>Netgen Admin UI – Copyright &copy; {{ 'now'|date('Y') }} <a href="https://www.netgenlabs.com" target="_blank">netgenlabs.com</a>. Based on eZ Publish 5 Administration – Copyright &copy;&nbsp;1999-{{ 'now'|date('Y') }} eZ Systems AS and others.</p>
</footer>
