{% set search_text = app.request.query.get( 'searchText', '' ) %}

<form action="{{ path( 'ez_legacy', { module_uri: '/content/search' } ) }}" method="get" class="navbar-form search-form" role="search">
    {% if ui_context_edit %}
        <input id="searchText" name="searchText" class="search-input disabled" type="text" size="20" value="{{ search_text }}" placeholder="Search content..." disabled="disabled" />
        <button id="searchButton" name="SearchButton" type="submit" class="search-btn disabled" disabled="disabled"><i class="fa fa-search"></i></button>
    {% else %}
        <input id="searchText" name="searchText" class="search-input" type="text" value="{{ search_text }}" placeholder="Search content..." />
        <button id="searchButton" name="SearchButton" type="submit" class="search-btn"><i class="fa fa-search"></i></button>

        {% if ui_context == 'browse' %}
            <input name="Mode" type="hidden" value="browse" />
            <input name="BrowsePageLimit" type="hidden" value="{{ [10, 10, 25, 50][min( ezpreference( 'admin_list_limit' ), 3)] }}" />
        {% endif %}
    {% endif %}
</form>

<script type="text/javascript">
(function($){
    if ( !document.getElementById('searchbuttonfield') )return;

    $('#searchbuttonfield').click(function(){
        if ( $('#searchText').val() === $('#searchText').attr('title') )return;
          $('#searchButton').click();
    });
    $('#searchscope').click(function(){
        $('#searchscope-pane').addClass('active');
    });
    $('#searchscope-pane-close').click(function(){
        $('#searchscope-pane').removeClass('active');
    });
    $('input:radio[name=SubTreeArray]').change( function() {
        $('#searchText').attr('value', $(this).attr('title'));
        $('#searchText').attr('title', $(this).attr('title'));
    } );
})( jQuery );
</script>
