{% extends 'NetgenAdminUIBundle::pagelayout_variables.html.twig' %}

{% block pagelayout_content %}
<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <title>{{ 'netgen_admin_ui.title'|trans }}</title>
    <meta name="generator" content="{{ 'netgen_admin_ui.title'|trans }}" />

    {% include 'design:page_head_style.tpl' %}
    {% include 'design:page_head_script.tpl' %}

    {% include 'NetgenAdminUIBundle::page_head_style.html.twig' %}
    {% include 'NetgenAdminUIBundle::page_head_script.html.twig' %}
</head>
<body class="loginpage">
    {% block content %}{% endblock %}

    <div class="login-container">
        {% include 'NetgenAdminUIBundle::page_footer.html.twig' %}
    </div>
</body>
</html>
{% endblock %}
