{% set search_text = app.request.query.get( 'SearchText', '' ) %}

<form action="{{ path( 'ez_legacy', { module_uri: '/content/search' } ) }}" method="get" class="navbar-form search-form" role="search">
    {% if ui_context_edit %}
        <input id="searchText" name="SearchText" class="search-input disabled" type="text" size="20" value="{{ search_text }}" placeholder="Search content..." disabled="disabled" />
        <button id="searchButton" name="SearchButton" type="submit" class="search-btn disabled" disabled="disabled"><i class="fa fa-search"></i></button>
    {% else %}
        <input id="searchText" name="SearchText" class="search-input" type="text" value="{{ search_text }}" placeholder="Search content..." />
        <button id="searchButton" name="SearchButton" type="submit" class="search-btn"><i class="fa fa-search"></i></button>

        {% if ui_context == 'browse' %}
            <input name="Mode" type="hidden" value="browse" />
            <input name="BrowsePageLimit" type="hidden" value="{{ [10, 10, 25, 50][min( ezpreference( 'admin_list_limit' ), 3)] }}" />
        {% endif %}
    {% endif %}
</form>
