{% extends 'NetgenMoreAdminUIBundle::pagelayout_variables.html.twig' %}

{% block pagelayout_content %}
<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <title>{{ siteName }}</title>
    <meta name="generator" content="{{ 'ngmore_admin_ui.layout.generator'|trans }}" />

    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400&amp;subset=latin,latin-ext" />

    {% include 'design:page_head_style.tpl' %}
    {% include 'design:page_head_script.tpl' %}

    {% include 'NetgenMoreAdminUIBundle::page_head_style.html.twig' %}
    {% include 'NetgenMoreAdminUIBundle::page_head_script.html.twig' %}
</head>
<body class="loginpage">
    {% block content %}{% endblock %}

    <div class="login-container">
        <div class="login-footer">
            <p><a href="http://ez.no/ezpublish">eZ Platform</a> Copyright &copy; 1999-2015 <a href="http://ez.no">eZ Systems AS</a> and others.</p>
        </div>
    </div>
</body>
</html>
{% endblock %}
