<div class="mapped-layouts-box" data-url="{{ path('ngadmin_location_mappings', {'contentId': content.id, 'locationId': location.id}) }}">
    <div class="layouts-box-content">
        <div id="layouts-list-wrapper"></div>
    </div>
</div>
{% include '@NetgenAdminUI/layouts/location_mappings_modal.html.twig' %}
