<div class="mapped-layouts-box" data-url="{{ path('ngadmin_layouts_location_mappings', {'locationId': location.id}) }}">
    <div class="layouts-box-content">
        <div id="layouts-list-wrapper">
            {{ render(path('ngadmin_layouts_location_mappings', {'locationId': location.id})) }}

            {{ render(path('ngadmin_layouts_related_layouts', {'locationId': location.id})) }}
        </div>
    </div>
</div>

<div class="modal fade ngmodal" id="clearBlockCachesModal" tabindex="-1" role="dialog" aria-labelledby="clearBlockCachesModalLabel">
    <div class="modal-dialog modal-md nl-modal-cache" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i></i></button>
                <h4 class="modal-title" id="clearBlockCachesModalLabel">&nbsp;</h4>
            </div>
            <div class="modal-body"></div>
        </div>
    </div>
</div>
