.layouts-sidebar {
    margin:0 (-$gutter);
    .sidebar-nav {
        > ul {
            list-style-type:none;
            margin:0 0 1.5em;
            padding:0;
            > li {
                border-bottom:1px solid hsla(0, 0, 0, 0.02);
                margin:0;
                padding:0;
                &:first-child {
                    border-top:1px solid hsla(0, 0, 0, 0.02);
                }
                > a {
                    display:block;
                    font-size:14px;
                    padding:10px 15px;
                    text-decoration:none;
                    &:hover {
                        background:hsla(0, 0, 0, 0.02);
                    }
                }
                &.current {
                    > a {
                        background:$layoutsAdminBgColor;
                        color:#F3590A;
                        cursor:default;
                    }
                }
            }
        }
    }
}

.ng-layouts-app {
    flex: 1;
    margin-bottom: -45px;
    .layouts-content {
        padding-bottom:3*$gutter;
        background:$layoutsAdminBgColor;
        position:static;
    }
}
