.ngmodal {
    .modal-dialog {
        height:100%;
        max-width:96%;
        margin:0 auto;
        display:flex;
        align-items:center;
    }
    .modal-lg {
        width:960px;
    }
    .modal-content {
        border-radius:0;
        border:none;
        flex:1;
    }
    .modal-loading {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: 10;
        background: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .modal-header {
        background:hsl(0, 0, 25);
        color:#fff;
        padding:$gutter 2*$gutter $gutter $gutter;
        .close {
            color:inherit;
            text-shadow:none;
            font-size:20px;
            line-height:1.4;
            height:1.4em;
            opacity:1;
            margin:0 (-$gutter) 0 0;
            i {
                position:relative;
                display:block;
                width:1em;
                height:1em;
                vertical-align:middle;
                &::before,
                &::after {
                    content:"";
                    position:absolute;
                    left:50%;
                    top:50%;
                    width:0.8em;
                    height:2px;
                    background:currentColor;
                    margin:-1px 0 0 -0.4em;
                    transform:rotate(45deg);
                }
                &::before {
                    transform:rotate(-45deg);
                }
            }
        }
    }
    .modal-body {
        padding: 2*$gutter $gutter;
        font-size: 16px;
        position: relative;
        min-height: 86px;
        p {
            font-size:inherit;
            margin:0 0 1em;
        }
    }
    .modal-title {
        font-weight:400;
        font-size:20px;
        color:inherit;
    }
    .layout-loading {
        text-align:center;
    }
}

.layout-list-wrapper {
    padding: $gutter;
    margin: 0 0 $gutter;
    > h4 {
        font-size: 1.125em;
        margin: 0 0 1em;
        font-weight: 500;
    }

    .direct-mapping-header {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .title-direct-rules, .title-all-rules {
            font-size: 1.125em;
            font-weight: 500
        }

        .title-all-rules {
            display: none;
        }



        .direct-mapping-notice {
            display: flex;
            flex-direction: column;
            align-items: center;

            .direct-mapping-button-main {
                font-size: 16px;
                padding: 0;
                margin: 0;
            }

            .direct-mapping-button-sub {
                font-size: 12px;
                padding: 0;
                margin: 6px 0 0 0;
            }
        }
    }
}
.layout-list {
    list-style-type:none;
    margin:1em 0 2em;
    padding:0;
    color:hsl(0, 0, 40);
    > li {
        margin: 0;
        padding: 0;
    }
    p {
        color:inherit;
    }
    .rule-non-direct {
      display: none;
    }
    .layout-list-item {
        margin: 0;
    }
    .layout-item,
    .layout-list-head {
        display:flex;
        align-items: stretch;
        > div {
            padding:10px 15px;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }
    .layout-item {
        background:#fff;
        display: flex;
        position: relative;
        color: #666666;
        min-height: 60px;
        border-bottom: 1px solid #e3e3e3;

        p {
            font-size:inherit;
            margin:2px 0;
        }
        strong {
            color:hsl(0, 0, 20);
        }
        ul {
            list-style-type:none;
            margin:2px 0;
            padding:0;
            > li {
                margin:0;
            }
            .unique {
                font-weight:700;
            }
        }
        .layout-name {
            .name {
                color:hsl(0, 0, 20);
                font-size:14px;
                font-weight:700;
            }
            .groups {
                color:hsl(0, 0, 20);
                font-size:12px;
            }
        }
        .layout-dropdown {
            padding: 0;
        }

        &:hover {
            .layout-dropdown {
                visibility: visible;
            }
        }
    }
    .layout-list-head {
        font-size:12px;
        color:hsl(0, 0, 30);
        > div {
            padding-bottom: .5em;
        }
    }
    .layout-name {
        flex:1;
    }
    .layout-target {
        width:28%;
        ul {
            color:#333;
        }
    }
    .layout-conditions {
        width:28%;
    }
    .layout-description {
        width: 28%;
    }
    .layout-modified {
        width: 28%;
    }
    .layout-actions {
        width:100px;
        align-items:flex-end;
        .btn {
            text-transform:uppercase;
            font-weight:700;
            font-size:10px;
        }
    }
    .layout-dropdown {
        visibility: hidden;
        padding: 0;
        align-items: stretch;
        width: 60px;
        > button {
            height: 100%;
            border: 0;
            background: transparent;
            font-size: 1.8em;
            padding: .2em .5em;
            transition: background .25s;
            outline: none;
            color: #3671E7;
        }
        .dropdown-menu {
            border: 0;
            border-radius: 0;
            margin: 0;
            padding: .5em 0;
            text-align: right;
            background: #fff;
            color: #000;
            box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
            list-style-type: none;
            > li {
                &:hover {
                    background: transparent;
                }
            }
            a,
            button {
                color: inherit;
                padding: .6em 1em;
                &:hover {
                    background: #F4F8FE;
                    color: #3671E7;
                    text-decoration: underline;
                }
            }
        }
        &.open {
            visibility: visible;
        }
    }
}
.nl-modal-cache {
    .modal-body {
        padding: 0;
    }
    .nl-caches-table {
        width: 100%;
        border-collapse: collapse;
        margin-top: -1px;
        th,
        td {
            padding: 15px 15px 14px 0;
            font-size: 12px;
            line-height: 1.5;
            &:first-child {
                padding-left: 15px;
            }
        }
        th {
            background: hsl(0, 0, 95);
            font-weight: 700;
            text-transform: uppercase;
            text-align: left;
            .nl-btn {
                text-transform: none;
                font-weight: 500;
            }
        }
        td {
            color: hsl(0, 0, 30);
            p {
                margin: 0;
                line-height: inherit;
            }
            &.nl-caches-ttl {
                font-size: 14px;
            }
        }
        .nl-caches-action {
            text-align: right;
        }
        tbody {
            tr {
                border-bottom: 1px solid hsl(0, 0, 82);
                &:last-child {
                    border-bottom: none;
                }
            }
        }
        input[type="checkbox"] {
            position:absolute;
            left:-9999em;
            + label {
                display:block;
                width: 2em;
                height: 2em;
                position:relative;
                padding:0.3846153846em 0.3846153846em 0.3846153846em 2em !important;
                margin:0 0 0.5em;
                cursor:pointer;
                overflow:hidden;
                text-indent:-999em;
                &::before {
                    text-indent:0;
                    @extend %fontawesome;
                    font-size:24px;
                    content:"\f096";
                    position:absolute;
                    left:0;
                    top:0.1em;
                    color:hsl(0, 0, 40);
                }
                .nl-modal-mask & {
                    padding:0 !important;
                    width:2em;
                    height:2em;
                    margin:0;
                    display:inline-block;
                }
            }
            &:checked {
                + label {
                    &::before {
                        content:"\f14a";
                        color:hsl(194, 100, 39);
                    }
                }
            }
            &:indeterminate {
                + label {
                    &::before {
                        content:"\f147";
                    }
                }
            }

        }
    }
    .errors {
        list-style-type: none;
        margin: 0;
        padding: 1em;
        font-size: 14px;
        li {
            color: red;
        }
    }
    .nl-caches-empty {
        padding: 2em 1em;
        margin: 0 !important;
        text-align: center;
    }
}

.mapped-layouts-box {
    > .layout-loading {
        display: none;
        position: relative;
        // background: $lightBg;
        padding: 5em 0;
        text-align: center;
        i {
        }
    }
    &.loading {
        > .layout-loading {
            display: block;
        }
    }
}
