<li{% if active %} class="active"{% endif %}>
    <a href="{{ path( 'netgen_tags_admin_root' ) }}">
        <i class="fa fa-tags"></i>
        <span class="tt">{{ 'netgen_admin_ui.menu.tags'|trans }}</span>
    </a>
</li>
