<h4 class="leftmenu-hl">{{ 'netgen_admin_ui.menu.tags'|trans }}</h4>
<div class="tags-sidebar">
    <div class="sidebar-nav">
        {% include '@NetgenTags/admin/main_menu.html.twig' %}
    </div>
</div>
