services:
    netgen_admin_ui.controller.layouts:
        class: Netgen\Bundle\AdminUIBundle\Controller\LayoutsController
        public: true
        parent: netgen_admin_ui.controller.base
        arguments:
            - "@netgen_layouts.layout.resolver"
            - "@netgen_admin_ui.layouts.related_layouts_loader"

    netgen_admin_ui.controller.layout_wizard:
        class: Netgen\Bundle\AdminUIBundle\Controller\LayoutWizard
        public: true
        parent: netgen_admin_ui.controller.base
        arguments:
            - "@netgen_layouts.api.service.layout"
            - "@netgen_layouts.layout.registry.layout_type"

    netgen_admin_ui.controller.layout_wizard_callback:
        class: Netgen\Bundle\AdminUIBundle\Controller\LayoutWizardCallback
        public: true
        parent: netgen_admin_ui.controller.base
        arguments:
            - "@netgen_layouts.api.service.layout"
            - "@netgen_layouts.api.service.layout_resolver"

    netgen_admin_ui.controller.create_content:
        class: Netgen\Bundle\AdminUIBundle\Controller\CreateContent
        public: true
        parent: netgen_admin_ui.controller.base
        arguments:
            - "@ezpublish.api.service.location"
            - "@ezpublish.api.service.content_type"
            - "@ezpublish_legacy.kernel"

    netgen_admin_ui.controller.delete_rule:
        class: Netgen\Bundle\AdminUIBundle\Controller\DeleteRule
        public: true
        parent: netgen_admin_ui.controller.base
        arguments:
            - "@netgen_layouts.api.service.layout"
            - "@netgen_layouts.api.service.layout_resolver"
