<footer id="footer">
    <p>Netgen Admin UI – Copyright &copy; {{ 'now'|date('Y') }} <a href="https://netgen.io" target="_blank">netgen.io</a>. Based on eZ Publish 5 Administration – Copyright &copy;&nbsp;1999-{{ 'now'|date('Y') }} eZ Systems AS and others.</p>
</footer>
