$asideWidth: 100px;
$asideBg: #383838;
$asideHover: lighten($asideBg, 4%);
$asideDarkBg: darken($asideBg, 8%);
$asideColor: #fff;
$lightBg: #f5f5f5;
$thBg: #a7a7a7;
$baseFont: 'Roboto',Helvetica,Arial,sans-serif;
$fontSize: 14px;
$activeColor: #F97B62;
$leftColumnWidth: 240px;
$leftColumnWidthSm: 160px;
$headerHeight: 70px;
$gutter: 15px;
$darkBg: #272A2F;
$layoutsAdminBgColor: hsl(0, 0, 96);
$textColor: hsl(0, 0, 25);
$bgColor: hsl(0, 0, 96);
$panelBg: hsl(0, 0, 100);
$panelLightColor: hsl(218, 19, 75);
$linkColor: #2970ef;
$highlightColor: #e22303;
$gutter: 20px;
$panelFontSize: 13px;
$btnHeight: 36px;
$inputHeight: 32px;

$btnPrimary: #2970EF;
$btnBorder: #e4e4e4;

@mixin rounded($x:50%) {
    -moz-border-radius:$x; -webkit-border-radius:$x; border-radius:$x;
}

@mixin overlayShadow() {
    -moz-box-shadow:0 2px 4px 0 rgba(0,0,0,0.125), 0 0 20px 0 rgba(0,0,0,0.15); -webkit-box-shadow:0 2px 4px 0 rgba(0,0,0,0.125), 0 0 20px 0 rgba(0,0,0,0.15); box-shadow:0 2px 4px 0 rgba(0,0,0,0.125), 0 0 20px 0 rgba(0,0,0,0.15);
}

%fontawesome {
    display:inline-block; font:normal normal normal $fontSize/1 FontAwesome; font-size:inherit; text-rendering:auto; -webkit-font-smoothing:antialiased; -moz-osx-font-smoothing:grayscale; transform:translate(0, 0);
}

%material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

%fadeIn {
    animation:fadeIn 350ms ease-out;
}
@keyframes fadeIn {
    from {
        opacity:0;
    }
    top {
        opacity:1;
    }
}
