<h4 class="leftmenu-hl">{{ 'netgen_admin_ui.menu.information_collection'|trans }}</h4>
<div class="ic-sidebar">
    <div class="sidebar-nav">
        {% include '@NetgenInformationCollection/admin/main_menu.html.twig' %}
    </div>
</div>
