<li{% if active %} class="active"{% endif %}>
    <a href="{{ path( 'nglayouts_admin' ) }}">
        <img src="{{ asset('layouts-logo.svg', 'nglayouts_admin_images') }}" class="icon" />
        <span class="tt">{{ 'netgen_admin_ui.menu.layouts'|trans }}</span>
    </a>
</li>
