<h4 class="leftmenu-hl">{{ 'netgen_admin_ui.menu.layouts'|trans }}</h4>
<div class="layouts-sidebar">
    <div class="sidebar-nav">
        {% include '@NetgenBlockManagerAdmin/admin/main_menu.html.twig' %}
    </div>
</div>
