ngadmin_layouts_location_layouts:
    path: /ngadmin/layouts/{locationId}
    defaults:
        _controller: "netgen_admin_ui.controller.layouts:showLocationLayouts"
    methods:  [GET]

_ezpublishPreviewContentDefaultSa:
    path: /content/versionview/{contentId}/{versionNo}/{language}
    defaults:
        _controller: "ezpublish_legacy.controller:indexAction"
    methods:  [GET]

# Overrides for eZ Platform Admin UI routes conflicting with eZ Publish Legacy
# https://github.com/ezsystems/ezplatform-admin-ui/pull/287

ezplatform.section.list:
    path: /sections/list
    defaults:
        _controller: 'EzPlatformAdminUiBundle:Section:list'

ezplatform.section.view:
    path: /sections/view/{sectionId}
    defaults:
        _controller: 'EzPlatformAdminUiBundle:Section:view'

ezplatform.role.list:
    path: /roles/list
    methods: ['GET']
    defaults:
        _controller: 'EzPlatformAdminUiBundle:Role:list'

ezplatform.object_state.groups.list:
    path: /state/groups/list
    defaults:
        _controller: 'EzPlatformAdminUiBundle:ObjectStateGroup:list'

ezplatform.object_state.group.view:
    path: /state/groups/{objectStateGroupId}
    defaults:
        _controller: 'EzPlatformAdminUiBundle:ObjectStateGroup:view'

ezplatform.object_state.group.add:
    path: /state/groups/create
    defaults:
        _controller: 'EzPlatformAdminUiBundle:ObjectStateGroup:add'
