{% if is_granted( 'ez:setup:managecache' ) %}
    <li class="aside-dropdown">
        <a href="#" class="aside-dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-refresh"></i>
            <span class="tt">{{ 'netgen_admin_ui.menu.cache'|trans }}</span>
            <span class="caret"></span>
        </a>

        <div class="dropdown-menu dropdown-cache">
            <div id="clearcache-tool" class="clearcache-tool">
                {% if ui_context != 'browse' %}
                    {% if ui_context == 'edit' %}
                        <h4><span class="disabled">{{ 'netgen_admin_ui.menu.clear_cache'|trans }}</span></h4>
                    {% else %}
                        <h4>{{ 'netgen_admin_ui.menu.clear_cache'|trans }}</h4>
                    {% endif %}
                {% endif %}

                {% include 'design:setup/clear_cache.tpl' %}
            </div>
        </div>
    </li>
{% endif %}
