{% extends '@NetgenAdminUI/pagelayout.html.twig' %}

{% trans_default_domain 'eztags_admin' %}

{% block title %}
    {{ 'pagelayout.title'|trans }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    {% include '@NetgenTags/admin/stylesheets.html.twig' %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {% include '@NetgenTags/admin/javascripts.html.twig' %}
{% endblock %}

{% block pre_content %}
    <div class="ng-tags-app">
        <div class="tags-content ng-ui-content">
            <div class="path">
                {% include '@NetgenTags/admin/path.html.twig' %}
            </div>
{% endblock %}

{% block post_content %}
        </div>
    </div>
{% endblock %}
